.cv-container {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 20px;
  max-width: 1300px;
  margin: auto;
  margin-top: 80px;
}

.section-div {
  margin-bottom: 30px;
}

.skills-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cv-sidebar {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.cv-sidebar img {
  width: 100px;
  border-radius: 50%;
}

.cv-content {
  padding: 20px;
}

.profile-img{
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .cv-container {
    grid-template-columns: 1fr; /* one column only on mobile devices */
  }
}
